root = true

[*]
charset = utf-8                     # 文件编码 utf-8
indent_style = space                # 空格缩进
indent_size = 2                     # 缩进空格 2 个
end_of_line = lf                    # 结尾用换行符
insert_final_newline = true         # 文件末尾添加一个空行
trim_trailing_whitespace = true     # 不保留行末的空格
